.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.cell img {
  width: 100%;
  height: auto;
  display: none;
}

.active img {
  display: block;
}
